<!DOCTYPE html>
<html>
<head>
    <title>Sonhario API</title>
</head>

<style>
    body {
        margin: 0;
        padding: 0;

        width: 100vw;
        height: 100vh;

        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

</style>

<body>
    <img src="https://raw.githubusercontent.com/bunny-sammy/sonhario-api/refs/heads/dev/meta/cover.png?token=GHSAT0AAAAAADCRHFY4PSY46MQSH572GQMM2CDRB7A" alt="Sonhario cover image">
</body>
</html>