<!DOCTYPE html>
<html>
<head>
    <title>Sonhario API</title>
</head>

<style>
    body {
        margin: 0;
        padding: 0;

        width: 100vw;
        height: 100vh;

        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

</style>

<body>
    <img src="https://media.discordapp.net/attachments/823515981393428541/1380715014314266624/cover.png?ex=6844e28f&is=6843910f&hm=4d091722aeffaa070cc2fb53f2f5258ad3b80e2ff4cdb5bbd34d428e29fce171&=&format=webp&quality=lossless&width=1440&height=811" alt="Sonhario cover image">
</body>
</html>