@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');

:root {
    font-family: "Fustat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;

    -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: #32407b;
  color: #FFF;
}
::-moz-selection {
  background-color: #32407b;
  color: #FFF;
}

html {
  scroll-behavior: smooth;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100vw - 2rem);
    min-height: calc(100dvh - 1rem);
    padding: 1rem;
    margin: 0;

    overflow-x: hidden;
    color: #F2F5FC;
}

#background {
    content = '';

    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(50, 64, 123, 0.4) 100%), #161616;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 100%;
    gap: 1rem;
    background-color: transparent;

    animation-name: main-in;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-easing: ease-in;
}

img {
    pointer-events: none;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
p a {
    font-weight: 700;
    text-decoration: underline;
}
p {
    text-align: justify;
}

@keyframes main-in {
    0% {
        opacity: 0;
        transform-origin: center;
        transform: scale(80%);
    }
    100% {
        opacity: 1;
        transform-origin: center;
        transform: scale(100%);
    }
}

@media (max-width: 768px) {
    h2, h3 {
        font-size: 1rem;
    }
}
@media (min-width: 768px) {
    body {
        width: calc(100vw - 4rem);
        min-height: calc(100vh - 4rem);
        padding: 2rem;
    }

    main {
        max-width: 800px;
        gap: 2rem;
    }
}